@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0a0727;
}

html::-webkit-scrollbar {
  width: 22px;
}

html::-webkit-scrollbar-thumb {
  background-color: #b7b7bb;
  border: 7px solid #0a0727;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 100px;
}

.quattrocentoquattro {
  color: #f5f9fd;
}

.h {
  margin-bottom: 30px;
  font-size: 45px;
}

.h2 {
  margin-top: 30px;
  font-size: 45px;
}

a button {
  background-color: transparent;
  color: white;
  padding: 20px 45px;
  border: 1px solid #bebec0;
  border-radius: 50px;
  font-size: 40px;
  transition: 0.3s;
}

a button:hover {
  border: 1px solid #bebec0;
  background-color: #bebec0;
  color: black;
}
