@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Body */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #0a0727;
}

/* Scroll Bar */

html::-webkit-scrollbar {
  width: 22px;
}

html::-webkit-scrollbar-thumb {
  background-color: #b7b7bb;
  border: 7px solid #0a0727;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 255, 255, 0.356);
  border-radius: 100px;
}